---
name: about
---
    <div class="container marketing">

    <div class="featurette">
        <h2 class="featurette-heading">About Roger</h2>
        <p class="lead">
        Roger has been involved with woodworking all of his life. He started out working with his father in their 
basement shop. One early memory is making various items from a load of scrap wood that his father 
had obtained from his place of business. 
        </p>
        <p class="lead">
        Roger and Judy started collecting antiques when they lived in upstate New York primarily buying 
antiques that needed restoration and refinishing. In many cases restoration involved making parts that 
were damaged or missing. Later Roger became interested in building pieces of furniture. His interests 
were primarily in building period pieces especially from the Sheraton, Heppelwhite and Chippendale 
periods. He continues to enjoy using the period characteristics in designing pieces that provide 
functionality for today’s environment. In recent years he has built contemporary pieces designed for 
family members.
        </p>
    </div>
    <div class="featurette">
        <h2 class="featurette-heading">About Judy</h2>
        <p class="lead">
        Judy has always concentrated on providing the design concepts and finishing techniques. One of the 
most memorable challenges was gold leafing an oval picture frame. She used the classic techniques that 
require such items as rabbit hide glue, gesso, and of course, gold leaf. 
        </p>
        <p class="lead">
Judy began her career as a psychologist/educator working 
with developmentally delayed children. She has been a middle school science teacher, and for the last 
ten years prior to retirement was technology coordinator at a high school. 
</p>
    </div>
</div>
