---
name: period gallery
---
  <div class="container marketing">
    <div class="featurette">
        <img class="photo featurette-image pull-left" src="/images/bookcase.jpg">
        <h2 class="featurette-heading">Modular Bookcases.</h2>
        <p class="lead">
        Six bookcase units, nested box architecture. Done in cherry and walnut, dovetail joinery.
        </p>
      <ul class="thumbnails" data-toggle="lightbox">
          <li class="span2"> 
          <a href="/images/bookcase_thumb1.jpg" data-description="Modular, stackable bookcases." class="thumbnail">
          <img src="/images/bookcase_thumb1.jpg"/>
          </a>
          </li>
        </ul>


      </div>
      <hr class="featurette-divider">
    <div class="featurette">
        <img class="photo featurette-image pull-right" src="/images/hallway_table.jpg">
        <h2 class="featurette-heading">Hallway Table.</span></h2>
        <p class="lead">
        Quilted maple and cherry hallway table with splayed legs. 
        </p>
        <ul class="thumbnails" data-toggle="lightbox">
          <li class="span2"> 
          <a href="/images/hallway/1.jpg" data-description="Solid quilted maple top framed in walnut with cherry surround." class="thumbnail">
          <img src="/images/hallway/1.jpg"/>
          </a>
          </li>
          <li class="span2"> 
          <a href="/images/hallway/2.jpg" data-description="Drawer interior made of salvaged wood from the Cape Fear River, 200 years old." class="thumbnail">
          <img src="/images/hallway/2.jpg"/>
          </a>
          </li>
          <li class="span2" > 
          <a href="/images/hallway/3.jpg" data-description="Table top detail." class="thumbnail">
          <img src="/images/hallway/3.jpg"/>
          </a>
          </li>
        </ul>

      </div>
      <hr class="featurette-divider">

<div class="featurette">
        <img class="photo featurette-image pull-left" src="/images/coffeetable.jpg">
        <h2 class="featurette-heading">Coffee Table.</h2>
        <p class="lead">
        Mission style walnut coffee table with string inlay.
        </p>
      <ul class="thumbnails" data-toggle="lightbox">
          <li class="span2"> 
          <a href="/images/coffeetable_thumb1.jpg" data-description="Apron and legs highlighted with beading." class="thumbnail">
          <img src="/images/coffeetable_thumb1.jpg"/>
          </a>
          </li>
        </ul>


      </div>
      <hr class="featurette-divider">

    <div class="featurette">
        <img class="photo featurette-image pull-right" src="/images/console.jpg">
        <h2 class="featurette-heading">Console.</h2> 
        <p class="lead">
        Custom designed console, done in walnut and cherry with decorative inlay.
        Classic breadboard ends, to accomodate changes in humidity. Dovetail and 
        Mortise and Tenon joinery throughout.
        </p>
    <ul class="thumbnails" data-toggle="lightbox">
          <li class="span2"> 
          <a href="/images/console_thumb1.jpg" data-description="The console in more detail." class="thumbnail">
          <img src="/images/console_thumb1.jpg"/>
          </a>
          </li>
        </ul>

      </div>

  </div>
