---
name: contact
---
  <div class="container marketing">
    <img class="photo-right photo" src="images/chisels.jpg" alt="chisels"/>
    <h2>
      <%= obscured_email_link('judy_sanwald@yahoo.com', 'Contact Roger and Judy') %>
      to get started.
    </h2>
    <p>
    We'd love to hear from you. If you'd like to own some of Roger's work, 
    or have an idea for a piece,  
    Please <%= obscured_email_link('judy_sanwald@yahoo.com', 'send us an email') %>.
    We love to talk about our work with everyone, and especially love hearing from
    fellow craftspeople.
    </p>
    <p>
    All of Roger and Judy’s work is handcrafted, 
    custom designed furniture and specialty items.
    </p>
  </div>
