---
name: period gallery
---
  <div class="container marketing">
    <div class="featurette">
        <img class="photo featurette-image pull-left" src="/images/bookcase.jpg">
        <h2 class="featurette-heading">Modular Bookcases.</h2>
        <p class="lead">
        Six bookcase units, nested box architecture. Done in cherry and walnut, dovetail joinery.
        </p>
      </div>
      <hr class="featurette-divider">
    <div class="featurette">
        <img class="photo featurette-image pull-right" src="/images/coffee_table.jpg">
        <h2 class="featurette-heading">Coffee Table.</span></h2>
        <p class="lead">
        Walnut coffee table, done in a modified Mission style. Ebony string inlay.
        </p>
      </div>
      <hr class="featurette-divider">
    <div class="featurette">
        <img class="photo featurette-image pull-left" src="/images/console.jpg">
        <h2 class="featurette-heading">Console.</h2> 
        <p class="lead">
        Custom designed console, done in walnut and cherry with decorative inlay.
        Classic breadboard ends, to accomodate changes in humidity. Dovetail and 
        Mortise and Tenon joinery throughout.
        </p>
      </div>
      <hr class="featurette-divider">
  </div>
