---
name: contact
---
    <div class="container marketing">

    <div class="featurette">
        <h2 class="featurette-heading">Contact Roger and Judy to get started.</h2>
        <p class="lead">
        You can <%= obscured_email_link('judy_sanwald@yahoo.com', 'send an email') %> to commission the project of your dreams.</a>
        </p>
    </div>
   </div>
