---
name: index
---
  <style type="text/css">
  /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }
    .navbar-wrapper .navbar {
    }

  </style>
  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <img src="images/slide-01.jpg" alt="">

        <div class="container">
          <div class="carousel-caption">
            <h1>Leather footrest.</h1>
          </div>
        </div>
      </div>

      <div class="item">
        <img src="images/slide-02.jpg" alt="">

        <div class="container">
          <div class="carousel-caption">
            <h1>Ball and Claw carving.</h1>
          </div>
        </div>
      </div>

      <div class="item">
        <img src="images/slide-03.jpg" alt="">

        <div class="container">
          <div class="carousel-caption">
            <h1>Ebony Inlay.</h1>
          </div>
        </div>
      </div>
    </div><a class="left carousel-control" href="#myCarousel"
    data-slide="prev">&lsaquo;</a> <a class=
    "right carousel-control" href="#myCarousel" data-slide=
    "next">&rsaquo;</a>
  </div><!-- /.carousel -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">
    <!--<hr class="featurette-divider">-->

    <div class="featurette">
      <img class="featurette-image pull-right photo" src="images/planer-512.jpg"/>
      <h2 class="featurette-heading">Custom Woodwork.</h2>

      <p class="lead">Roger and Judy have been building furniture
      for more than 40 years. Everything they do is handmade in
      Raleigh, North Carolina. From colonial period desks built
      without the aid of electric tools, to modern, stackable
      bookshelves, Roger and Judy specialize in building quality
      furniture, built to be used and enjoyed.</p>
    </div>
  </div><!-- Le javascript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script type="text/javascript">
    !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
  </script>
