---
name: period gallery
---
  <div class="container marketing">
    <div class="featurette">
        <img class="photo featurette-image pull-left" src="/images/desk.jpg">
        <h2 class="featurette-heading">Colonial Desk. <span class="muted">built with hand tools.</span></h2>
        <p class="lead">
        A replica of a colonial desk Roger saw in Winston Salem, NC. Constructed from the original plans
using all hand tools.  
        </p>
      </div>
      <hr class="featurette-divider">
    <div class="featurette">
        <img class="photo featurette-image pull-right" width="500px" src="/images/ottoman.jpg">
        <h2 class="featurette-heading">Ottoman, <span class="muted">hand carved.</span></h2>
        <p class="lead">
        Mahogany base with a full tanned leather hide and brass finishings. Cabriole legs and a 
        Philadelphia style ball and claw foot.
        </p>
      </div>
      <hr class="featurette-divider">
    <div class="featurette">
        <img class="photo featurette-image pull-left" src="/images/table.jpg">
        <h2 class="featurette-heading">Pembroke Table.</h2> 
        <p class="lead">
        This work features reeded legs, hand carved; and drop leaves. Done in cherry with a natural
        finish.
        </p>
      </div>
      <hr class="featurette-divider">
  </div>
