---
name: period gallery
---
  <div class="container marketing">
    <div class="featurette">
        <img class="photo featurette-image pull-left" src="/images/desk.jpg">
        <h2 class="featurette-heading">Colonial Desk.</h2>
        <p class="lead">
        A replica of a colonial desk Roger saw in Winston Salem, NC. Constructed from the original plans
using all hand tools.  
        </p>
      </div>
      <hr class="featurette-divider">
    <div class="featurette">
        <img class="photo featurette-image pull-right" width="500px" src="/images/ottoman.jpg">
        <h2 class="featurette-heading">Ottoman.</h2>
        <p class="lead">
        Mahogany base, Cabriole legs and  
        hand carved Philadelphia style ball and claw feet.
        Full tanned leather hide and brass finishings. 
        </p>
      </div>
      <hr class="featurette-divider">
    <div class="featurette">
        <img class="photo featurette-image pull-left" src="/images/table.jpg">
        <h2 class="featurette-heading">Pembroke Style Table.</h2> 
        <p class="lead">
        This work features reeded legs and drop leaves. Done in cherry with a natural
        finish.
        </p>
      </div>
      <hr class="featurette-divider">
  </div>
