---
name: period gallery
---
  <div class="container marketing">
    <div class="featurette">
        <img class="photo featurette-image pull-left" src="/images/desk.jpg">
        <h2 class="featurette-heading">Colonial Desk.</h2>
        <p class="lead">
        A replica of a colonial desk Roger saw in Winston Salem, NC. Constructed from the original plans
using all hand tools. 
        </p>
        <ul class="thumbnails" data-toggle="lightbox">
          <li class="span2"> 
          <a href="/images/desk/closed.jpg" data-description="Closed view of cherry slant front desk." class="thumbnail">
          <img src="/images/desk/closed.jpg"/>
          </a>
          </li>
          <li class="span2"> 
          <a href="/images/desk/dovetail.jpg" data-description="Through dovetails on top surface." class="thumbnail">
          <img src="/images/desk/dovetail.jpg"/>
          </a>
          </li>
          <li class="span2" > 
          <a href="/images/desk/interior.jpg" data-description="Stepped interior drawers with shaped edge and hand cut dovetails." class="thumbnail">
          <img src="/images/desk/interior.jpg"/>
          </a>
          </li>
        </ul>
      </div>
      <hr class="featurette-divider">
    <div class="featurette">
        <img class="photo featurette-image pull-right" width="500px" src="/images/ottoman.jpg">
        <h2 class="featurette-heading">Ottoman.</h2>
        <p class="lead">
        Mahogany base, Cabriole legs and  
        hand carved Philadelphia style ball and claw feet.
        Full tanned leather hide and brass finishings. 
        </p>
        <ul class="thumbnails" data-toggle="lightbox">
          <li class="span2"> 
          <a href="/images/ottoman/foot.jpg" data-description="Mahogany cabriole leg with hand carved Philadelphia ball and claw foot." class="thumbnail">
          <img src="/images/ottoman/foot.jpg"/>
          </a>
          </li>
          <li class="span2"> 
          <a href="/images/ottoman/leather.jpg" data-description="Full hide covering with buttoned tufting and brass nail attachment." class="thumbnail">
          <img src="/images/ottoman/leather.jpg"/>
          </a>
          </li>
          <li class="span2" > 
          <a href="/images/ottoman/leg.jpg" data-description="Ball and Claw foot detail." class="thumbnail">
          <img src="/images/ottoman/leg.jpg"/>
          </a>
          </li>
          <li class="span2" > 
          <a href="/images/ottoman/nail.jpg" data-description="Brass nail." class="thumbnail">
          <img src="/images/ottoman/nail.jpg"/>
          </a>
          </li>
        </ul>

      </div>
      <hr class="featurette-divider">
    <div class="featurette">
        <img class="photo featurette-image pull-left" src="/images/table.jpg">
        <h2 class="featurette-heading">Pembroke Style Table.</h2> 
        <p class="lead">
        This work features reeded legs and drop leaves. Done in cherry with a natural
        finish.
        </p>
      </div>
      <hr class="featurette-divider">
  </div>
