---
name: specialty gallery
---
  <div class="container marketing">
    <div class="featurette">
        <img class="photo featurette-image pull-left" src="/images/frame/1.jpg">
        <h2 class="featurette-heading">Franklin Frame.</h2>
        <p class="lead">
        Gilded oval frame with traditional carved and molded compo detail. Featured on the
        <a target="_new" href="http://www.finewoodworking.com/item/39110/framing-franklin">Fine Woodworking Website</a>. 
        On display at <a target="_new" href="http://www.kilburnie.com/about_craig_farm.php">Kilburnie, the Inn at Craig Farm</a>.
        </p>
        <ul class="thumbnails" data-toggle="lightbox">
          <li class="span2"> 
          <a href="/images/frame/2.jpg" data-description="Roger at work." class="thumbnail">
          <img src="/images/frame/2.jpg"/>
          </a>
          </li>
          <li class="span2" > 
          <a href="/images/frame/3.jpg" data-description="Kilburnie, the Inn at Craig Farm." class="thumbnail">
          <img src="/images/frame/3.jpg"/>
          </a>
          </li>
        </ul>
      </div>
  </div>
