---
name: specialty gallery
---
  <div class="container marketing">
    <div class="featurette">
        <img class="photo featurette-image pull-left" src="/images/frame/1.jpg">
        <h2 class="featurette-heading">Franklin Frame.</h2>
        <p class="lead">
        Gilded oval frame with traditional carved and molded compo detail. Featured on the
        <a target="_new" href="http://www.finewoodworking.com/item/39110/framing-franklin">Fine Woodworking Website</a>. 
        On display at <a target="_new" href="http://www.kilburnie.com/about_craig_farm.php">Kilburnie, the Inn at Craig Farm</a>.
        </p>
        <ul class="thumbnails" data-toggle="lightbox">
          <li class="span2"> 
          <a href="/images/frame/2.jpg" data-description="Roger at work." class="thumbnail">
          <img src="/images/frame/2.jpg"/>
          </a>
          </li>
          <li class="span2" > 
          <a href="/images/frame/3.jpg" data-description="Kilburnie, the Inn at Craig Farm." class="thumbnail">
          <img src="/images/frame/3.jpg"/>
          </a>
          </li>
        </ul>
      </div>

      <hr class="featurette-divider">
    <div class="featurette">
        <img class="photo featurette-image pull-right" src="/images/luggagerack.jpg">
        <h2 class="featurette-heading">Luggage Rack.</h2>
        <p class="lead">
        Laminated solid cherry and walnut foldable luggage rack.
        </p>
      </div>
      <hr class="featurette-divider">
    <div class="featurette">
        <img class="photo featurette-image pull-left" src="/images/cheeseboard.jpg">
        <h2 class="featurette-heading">Cheese Board.</h2>
        <p class="lead">
        Spalted maple board with butternut feet.
        </p>
        <ul class="thumbnails" data-toggle="lightbox">
          <li class="span2"> 
          <a href="/images/cheeseboard_thumb1.jpg" data-description="Shaped American walnut board with side supported walnut feet." class="thumbnail">
          <img src="/images/cheeseboard_thumb1.jpg"/>
          </a>
          </li>
          <li class="span2" > 
          <a href="/images/cheeseboard_thumb2.jpg" data-description="Cherry cheeseboard with spherical cherry feet" class="thumbnail">
          <img src="/images/cheeseboard_thumb2.jpg"/>
          </a>
          </li>
        </ul>
      </div>
      <hr class="featurette-divider">
    <div class="featurette">
        <img class="photo featurette-image pull-right" src="/images/mills.jpg">
        <h2 class="featurette-heading">Salt and Pepper Mills.</h2>
        <p class="lead">
        Cherry and walnut salt and peppermill set.
        </p>
        <ul class="thumbnails" data-toggle="lightbox">
          <li class="span2"> 
          <a href="/images/mills_thumb1.jpg" data-description="Contemporary style cherry peppermill." class="thumbnail">
          <img src="/images/mills_thumb1.jpg"/>
          </a>
          </li>
          <li class="span2" > 
          <a href="/images/mills_thumb2.jpg" data-description="– Classic design spalted maple peppermill." class="thumbnail">
          <img src="/images/mills_thumb2.jpg"/>
          </a>
          </li>
        </ul>
      </div>
  </div>
